<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/play"
        android:label="@string/home"
        android:roundIcon="@drawable/play"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".favsActivity"
            android:label="@string/favourites"/>
        <activity android:name=".song1detailActivity"
            android:label="@string/beatles_yellow_submarine"/>
        <activity android:name=".song2detail2Activity"
            android:label="@string/beatles_hard_days"/>
        <activity android:name=".song3detailActivity"
            android:label="@string/beatles_twist_shout"/>
        <activity android:name=".song4detailActivity"
            android:label="@string/beatles_let_it_be">
        </activity>
    </application>

</manifest>