<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/play"
        android:label="@string/app_name"
        android:roundIcon="@drawable/play"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".favsActivity" />
        <activity android:name=".song1detailActivity" />
        <activity android:name=".song2detail2Activity" />
        <activity android:name=".song3detailActivity" />
        <activity android:name=".song4detailActivity"></activity>
    </application>

</manifest>